.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 6rem;
  a {
    color: var(--white);
    padding: 1rem;
    height: fit-content;
  }
}

.wave {
  height: 8rem;
  position: absolute;
  z-index: -1; 

  path {
    animation: waveAnimation 30s linear infinite;
    opacity: 0.5;
  }
  path:nth-child(1) {
    fill: var(--primary);
    transform: translateX(-25px);
  }
  path:nth-child(2) {
    fill: var(--primary-shade);
    transform: translateX(-900px);
    animation-duration: 21s;
  }
  path:nth-child(3) {
    fill: var(--primary);
    transform: translateX(-620px);
    animation-duration: 27s;
  }
}

@keyframes waveAnimation {
  0% {
    d: path("M0, 50 C600, 100, 1200, 100, 1800, 50 C2400, 0, 3000, 0, 3600, 50 L3600, 0  L0, 0");
  }
  
  50% {
    d: path("M0, 50 C600, 0, 1200, 0, 1800, 50   C 2400, 100, 3000, 100, 3600, 50 L3600, 0  L0, 0");
  }

  100% {
    d: path("M0, 50 C600, 100, 1200, 100, 1800, 50 C2400, 0, 3000, 0, 3600, 50 L3600, 0  L0, 0");
  }
}