/* ------------------------------- */
/* Imports                         */
/* ------------------------------- */

/* Import fonts: Arvo (serif), Lato (sans) */
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Lato:wght@100;300;400;700&display=swap');

/* ------------------------------- */
/* Custom Properties               */
/* ------------------------------- */

:root {
  /* Colours in HSL */
  --clr-dark: 0 0% 0%;
  --clr-light: 60 100% 97%;
  --clr-primary: 240 100% 25%;
  --clr-primary-shade: 230 41% 60% ;
  --clr-primary-light: 255 67% 57%;

  /* Font sizes */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* Font Families */
  --ff-serif: Arvo, serif;
  --ff-sans: Lato, sans-serif;

  --fw-xl: 100;
  --fw-light: 300;
  --fw-med: 500;
  --fw-bold: 700;
}


/* ------------------------------- */
/* Reset                           */
/* ------------------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset Margin */
body,
h1, h2, h3, h4, h5,
p {
  margin: 0;
}

/* Making sure headings aren't bold */
h1, h2, h3, h4, h5 {
  font-weight: 400;
}

/* Body */
body {
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-light));
  line-height: 1.6;
  min-height: 100vh;
}

/* Make images simple to work with */
img {
  max-width: 100%;
  display: block;
}

/* Make form elements simpler to work with */
input,
button,
textarea,
select {
  font: inherit; // form elements are the only ones that don't inherit font
}

a { text-decoration: none; }

/* disable animations for users who have turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------------------- */
/* Utility Classes                 */
/* ------------------------------- */

.flex {
  display: flex;
  gap: var(--gap, 1em);
}

.grid {
  display: grid;
  gap: var(--gap, 1em);
}

.p-rel { position: relative; }
.p-abs { position: absolute; }

.inset {
  position: absolute;
  top: var(--top, unset);
  bottom: var(--bottom, unset);
  left: var(--left, unset);
  right: var(--right, unset);
}

/* .container centers its children and applies horizonal padding */
.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

/* Makes an element invisible to sighted users, but visiable to screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Colours */

.bg-light { background-color: hsl(var(--clr-white)); }
.bg-dark { background-color: hsl(var(--clr-dark)); }
.bg-primary { background-color: hsl(var(--clr-primary)); }

.txt-light { color: hsl(var(--clr-white)); }
.txt-dark { color: hsl(var(--clr-dark)); }
.txt-primary { color: hsl(var(--clr-primary)); }


/* Font */

.ff-serif { font-family: var(--ff-serif); }
.ff-sans { font-family: var(--ff-sans); }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fw-xl { font-weight: var(--fw-xl); }
.fw-light { font-weight: var(--fw-light); }
.fw-bold { font-weight: var(--fw-bold); }

.letter-spacing-1 { letter-spacing: 4px; }
.letter-spacing-2 { letter-spacing: 2.5px; }
.letter-spacing-3 { letter-spacing: 1.7px; }

.uppercase { text-transform: uppercase; }

.text-shadow-dark { text-shadow: hsl( var(--clr-dark) ) 0px 1px 4px;}

/* SVG */
.fill-clr-primary { fill: hsl(var(--clr-primary) ); }
.fill-clr-primary-light { fill: hsl(var(--clr-primary-light) ); }
.fill-clr-primary-shade { fill: hsl(var(--clr-primary-shade) ); }

/* ------------------------------- */
/* Component Classes               */
/* ------------------------------- */

/* Bubbles.tsx */
.bubbles-canvas {
  width: 100%;
  margin: 1rem;
  position: relative;
  overflow: visible;
  background-color: hsl( var(--clr-primary-light) / 0.5 );
  border: .25rem solid hsl(var(--clr-primary) );
  border-radius: 1rem;
}

/* Card.tsx */
.card {
  padding: 1rem;
  height: 100%;
  border: .5rem solid hsl(var(--clr-primary));
  border-radius: 0.5rem;
  
  h2 {
    margin: 0;
  }
  * {
    text-align: center;
    display: block;
  }
}

/* Navbar.tsx */
.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 6rem;
  overflow-x: hidden;
  overflow-y: visible;
}

.nav-link {
  color: hsl( var(--clr-light));
  background-color: hsl( var(--clr-primary-light) / 0.3 );
  margin: 1rem;
  padding-inline: 1rem;
  border-radius: 12.5%;
  height: fit-content;
  z-index: 1;
}

/* SocialMedia.tsx */
.social-media {
  list-style: none;
  width: 100%;
  justify-content: space-around;
  display: flex;
  li { display: inline; }
  svg { fill: hsl(var(--clr-primary)); }

}

/* Waves.tsx */
.wave-container {
  position: absolute;
  height: inherit;
  margin:0;
  z-index: -1;
  opacity: 1;
  g { transform: translateX(var(--offset, 0%)); }
  .wave {
    animation: waveAnimation var(--period, '30s') linear infinite;
    fill: hsl(var(--clr-primary) / 0.6);
    overflow-y: hidden;
  }
}

/* ------------------------------- */
/* Animations                      */
/* ------------------------------- */

@keyframes waveAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}