.card {
  padding: 1rem;
  background-image: radial-gradient(hsl(var(--clr-light)), hsl(var(--clr-primary)/0.1) );
  height: 100%;
  width: 100%;
  border: .25rem solid hsl(var(--clr-primary));
  position: relative;
  display: block;
  border-radius: 0.5rem;
  
  h2 {
    margin: 0;
  }
  * {
    text-align: center;
    display: block;
  }
}

.card-text {
  padding: var(--spacing-1);
}